*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
  .container {
    width: 1400px;
    height: 1000px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;  
  }
/* kerjaan header */
  .header {
    width: 1240px;
    height: 104px;
    background-color: white;
    margin-left: 100px;
    margin-top: 18px;
  }
  .header-1{
    width: 135px;
    height: 82px;
    background-color:#d3d3d3 ;
    margin-top: 10px;
    line-height: 82px;
  }
  #My{
    font-family: "Pacifico", cursive;
    color: #ec1b09;
  }
  #Porto{
    color: #ff9c1a;
    font-family: "Pacifico", cursive;
    font-size: 24px;
  }
/* (atas, kanan, bawah, kiri) */
/* kerjaan header */
  .container-main {
    width: 1250px;
    height: 902px;
    background-color: blue;
    margin-left: 100px;
    margin-top: 0;
    display: flex;
  }

  .container-main-aside {
    width: 400px;
    height: 852px;
    background-color: red;
  }

  .container-main-kanan {
    width: 850px;
    height: 862px;
    background-color: yellow;
  }

  .container-main-kanan-navbar {
    width: 375px;
    height: 100px;
    background-color: brown;
    margin-left: 275px;
    margin-top: 42px;
  }
  .container-main-kanan-konten{
    width: 840px;
    height: 720px;
    background-color: aqua;
  }